<mat-toolbar color="primary" class="mat-elevation-z3">
  <span>Fatture Manager</span>
  <img [src]="logoSrc" style="height: 14px;">
</mat-toolbar>

<div style="padding: 20px;">

  <span style="margin-right: 15px;">Mostra:</span>
  <mat-button-toggle-group (change)="filterFatture($event.value)" [(ngModel)]="activeFilter">
    <mat-button-toggle value="TUTTE">Tutte</mat-button-toggle>
    <mat-button-toggle value="PAGATE">Pagate</mat-button-toggle>
    <mat-button-toggle value="DA_FATTURARE">Da fatturare</mat-button-toggle>
    <mat-button-toggle value="IN_PAGAMENTO">In attesa di pagamento</mat-button-toggle>
  </mat-button-toggle-group>

  <app-fatture-table  [fatture]="fattureVisualizzate?.sort(compareFatture)"
                      (onEditFattura)="openEditFatturaDialog($event)"
                      (onDeleteFattura)="deleteFattura($event)">
  </app-fatture-table>
  <button mat-fab color="primary" style="position: sticky; bottom: 30px; left: 95%;"
          title="Aggiungi fattura" (click)="openAddFatturaDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
