#fatture-table {
  width: 100%;
}

#fatture-table tr.fattura-detail-row {
  height: 0;
}

#fatture-table tr.fattura-row:hover {
  cursor: pointer;
  background: whitesmoke;
}

#fatture-table tr.fattura-row:active {
  background: #efefef;
}

#fatture-table .fattura-row td {
  border-bottom-width: 0;
}

#fatture-table .fattura-detail {
  overflow: hidden;
  display: flex;
}

#fatture-table .fattura-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

#fatture-table .fattura-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

#fatture-table .fattura-description {
  padding: 16px;
}

#fatture-table .fattura-description-attribution {
  opacity: 0.5;
}

#fatture-table .mat-button {
  margin-top: 7px;
}

#fatture-table .mat-success {
  background-color: forestgreen !important;
  color: white;
}
