<table *ngIf="fatture" multiTemplateDataRows mat-table [dataSource]="fatture" class="mat-elevation-z6" style="width: 100%;">

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let fattura" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="fattura == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <p><label>Nome: </label>{{fattura.intestatario.nome}}</p>
          <p><label>Indirizzo: </label>{{fattura.intestatario.indirizzo}}</p>
          <p><label>Telefono: </label>{{fattura.intestatario.telefono}}</p>
          <p><label>Email: </label>{{fattura.intestatario.email}}</p>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="destinatario">
    <th mat-header-cell *matHeaderCellDef>Intestatario</th>
    <td mat-cell *matCellDef="let fattura">{{fattura.intestatario.nome}}</td>
  </ng-container>

  <ng-container matColumnDef="servizio">
    <th mat-header-cell *matHeaderCellDef>Servizio</th>
    <td mat-cell *matCellDef="let fattura">{{fattura.nomeServizio}}</td>
  </ng-container>

  <ng-container matColumnDef="dataEmissione">
    <th mat-header-cell *matHeaderCellDef>Fattura emessa il</th>
    <td mat-cell *matCellDef="let fattura">{{fattura.dataEmissione | date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="importo">
    <th mat-header-cell *matHeaderCellDef>Importo</th>
    <td mat-cell *matCellDef="let fattura">{{fattura.importo}}€</td>
  </ng-container>

  <ng-container matColumnDef="stato">
    <th mat-header-cell *matHeaderCellDef>Stato</th>
    <td mat-cell *matCellDef="let fattura">
      <mat-chip-list>
        <mat-chip *ngIf="!fattura.dataEmissione" color="warn" selected>Da fatturare</mat-chip>
        <mat-chip *ngIf="fattura.dataEmissione && !fattura.pagata" color="grey" selected>In attesa di pagamento</mat-chip>
        <mat-chip *ngIf="fattura.pagata" color="success" selected>Pagata</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="tipologia">
    <th mat-header-cell *matHeaderCellDef>Tipologia</th>
    <td mat-cell *matCellDef="let fattura">{{fattura.tipologia}}</td>
  </ng-container>

  <ng-container matColumnDef="azioni">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let fattura" style="float: right;">
      <button mat-button color="secondary" (click)="editFattura(fattura)" title="Modifica fattura">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color="warn" (click)="deleteFattura(fattura)" title="Elimina fattura">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
