<div class="mat-elevation-z6">
  <table id="fatture-table" *ngIf="fatture" multiTemplateDataRows mat-table [dataSource]="fatture" style="width: 100%;">

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let fattura" [attr.colspan]="displayedColumns.length">
        <div class="fattura-detail"
            [@detailExpand]="fattura == expandedElement ? 'expanded' : 'collapsed'">
          <div class="fattura-diagram">
            <h5>{{fattura.intestatario.nome}}</h5>
            <p *ngIf="fattura.intestatario.partitaIva"><label>P.IVA: </label>{{fattura.intestatario.partitaIva}}</p>
            <p *ngIf="fattura.intestatario.codiceUnivoco"><label>Codice univoco: </label>{{fattura.intestatario.codiceUnivoco}}</p>
            <p *ngIf="fattura.intestatario.indirizzo"><label>Indirizzo: </label>{{fattura.intestatario.indirizzo}}</p>
            <p *ngIf="fattura.intestatario.telefono"><label>Telefono: </label>{{fattura.intestatario.telefono}}</p>
            <p *ngIf="fattura.intestatario.email"><label>Email: </label>{{fattura.intestatario.email}}</p>
            <p *ngIf="fattura.intestatario.pec"><label>PEC: </label>{{fattura.intestatario.pec}}</p>

          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="intestatario">
      <th mat-header-cell *matHeaderCellDef style="width: 26%;">Intestatario</th>
      <td mat-cell *matCellDef="let fattura">{{fattura.intestatario.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="servizio">
      <th mat-header-cell *matHeaderCellDef>Servizio</th>
      <td mat-cell *matCellDef="let fattura">{{fattura.nomeServizio}}</td>
    </ng-container>

    <ng-container matColumnDef="importo">
      <th mat-header-cell *matHeaderCellDef style="width: 7%;">Importo</th>
      <td mat-cell *matCellDef="let fattura">{{ fattura.importo ? fattura.importo + '€' : '' }}</td>
    </ng-container>

    <!--<ng-container matColumnDef="dataEmissione">
      <th mat-header-cell *matHeaderCellDef>Fattura emessa il</th>
      <td mat-cell *matCellDef="let fattura">{{fattura.dataEmissione | date: 'dd/MM/yyyy' }}</td>
    </ng-container>-->

    <ng-container matColumnDef="stato">
      <th mat-header-cell *matHeaderCellDef>Stato</th>
      <td mat-cell *matCellDef="let fattura">
        <mat-chip-list>
          <mat-chip *ngIf="!fattura.dataEmissione && !fattura.pagata" color="warn" selected>Da fatturare</mat-chip>
          <mat-chip *ngIf="fattura.dataEmissione && !fattura.pagata && !isFatturaInRitardo(fattura)" color="grey" selected>In attesa di pagamento</mat-chip>
          <mat-chip *ngIf="fattura.dataEmissione && !fattura.pagata && isFatturaInRitardo(fattura)" color="warn" selected>Pagamento in ritardo</mat-chip>
          <mat-chip *ngIf="fattura.pagata" color="success" selected>Pagata</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="tipologia">
      <th mat-header-cell *matHeaderCellDef>Tipologia</th>
      <td mat-cell *matCellDef="let fattura" style="text-transform: capitalize;">{{TipologiaFattura[fattura.tipologia]?.replace('_', ' ')}}</td>
    </ng-container>

    <ng-container matColumnDef="periodo">
      <th mat-header-cell *matHeaderCellDef>Periodo</th>
      <td mat-cell *matCellDef="let fattura">{{fattura.dataDiPartenza ? getPeriodoFattura(fattura) : ''}}</td>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let fattura" style="float: right;">
        <button mat-button color="secondary" (click)="editFattura(fattura);" title="Modifica fattura">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="deleteFattura(fattura)" title="Elimina fattura">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="fattura-row"
        [class.fattura-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="fattura-detail-row"></tr>
  </table>
  <div style="padding: 20px;" *ngIf="fatture?.length===0">Nessuna fattura da mostrare.</div>
  <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>-->
</div>
